.root {
	-fx-background-image: url("background.png");
	-fx-background-repeat: no-repeat;
    -fx-base: #efeee9;
   -fx-darker: derive(#efeee9, -10%);
   -fx-lighter: derive(#efeee9, +10%);
   darkred: #b2598d;
   textcolor-highlight-primary: #d19cb8;
   textcolor-stopper: red;
   textcolor-warning: orange;
}

.title {
  -fx-text-fill: #b2598d;
}