/*
 * Die folgenden @font-face Anweisungen werden nur ausgeführt, wenn sie im Haupt-CSS-File am Anfang stehen.
 * Daher hier nur der Übersichtlichkeit halber, aber auskommentiert.
 *
 */
@font-face {
	font-family: 'Segoe UI';
	font-weight: normal;
	font-style: normal;
    src: url('../fonts/segoeui.ttf');
}
@font-face {
	font-family: 'Segoe UI';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/segoeuib.ttf');
}
@font-face {
	font-family: 'Segoe UI';
	font-weight: normal;
	font-style: italic;
	src: url('../fonts/segoeuii.ttf');
}
@font-face {
	font-family: 'Segoe UI';
	font-weight: 200;
	font-style: normal;
	src: url('../fonts/segoeuil.ttf');
}
@font-face {
	font-family: 'Segoe UI';
	font-weight: bold;
	font-style: italic;
	src: url('../fonts/segoeuiz.ttf');
}
@font-face {
	font-family: 'Segoe UI';
	font-weight: 200;
	font-style: italic;
	src: url('../fonts/segoeuili.ttf');
}
@font-face {
	font-family: 'Segoe UI Symbol';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/seguisym.ttf');
}
@font-face {
	font-family: 'Segoe MDL2 Assets';
	font-weight: normal;
	font-style: normal;
    src: url('../fonts/segmdl2.ttf');
}

.root {
	-fx-font-family: "Segoe UI";
	-fx-font-weight: normal;
	-fx-font-style: normal;
}


/* see http://msdn.microsoft.com/en-us/library/windows/apps/hh700394.aspx */

.text-header {
	-fx-font-weight: 200;
	-fx-font-size: 3em;
}
.text-subheader {
	-fx-font-weight: 200;
	-fx-font-size: 2.27em;
}
.text-small-subheader, .title {
	-fx-font-weight: 300;
	-fx-font-size: 1.9em;
}
.text-small-secondary, .subtitle {
	-fx-font-weight: 400;
	-fx-font-size: 1.33em;
}
.base {
	-fx-font-weight: bold;
	-fx-font-size: 1em;
}
.text-body, .body {
	-fx-font-weight: normal;
	-fx-font-size: 1em;
}
.text-secondary-info {
	-fx-font-weight: normal;
}
.text-tertiary-info {
	-fx-font-weight: normal;
}
.caption {
	-fx-font-size: 0.8em;
}

.symbol-icon {
  -fx-fill: -fx-text-base-color;
  -fx-font-family: 'Segoe MDL2 Assets'
}


/*****************************************************
 * AppBar
 *****************************************************/
.command-bar {
  -fx-background-color: -fx-base;
  -fx-border-width: 0 0 1 0;
  -fx-border-color: black;
}
.app-bar-button {
  -fx-background-color: transparent;
}
.app-bar-button:hover {
  -fx-background-color: -fx-control-inner-background;
}
.app-bar-toggle-button {
  -fx-background-color: -fx-base;
}
.app-bar-toggle-button:hover {
  -fx-background-color: -fx-control-inner-background;
}
.app-bar-toggle-button:selected {
  -fx-background-color: -fx-faint-focus-color;
}
.app-bar-toggle-button:selected:hover {
  -fx-background-color: -fx-focus-color;
}
.app-bar-button .icon-element {
	-fx-font-size: 20pt;
}
.app-bar-toggle-button .icon-element {
  -fx-font-size: 20pt;
}
.app-bar-seperator .icon-element {
  -fx-font-size: 15pt;
}
.overflow-item {
	-fx-max-width: 20em;
	-fx-alignment: center-left;
}

/*****************************************************
 * Navigation Pane
 *****************************************************/
.navigation-view {
	-fx-skin: "org.prelle.javafx.skin.NavigationViewSkin"
}

.navigation-pane {
    -fx-background-color: rgba(255,255,255,0.9);
    -fx-min-width: 12em;
    -fx-pref-width: 12em;
}
.navigation-pane:collapsed {
    -fx-min-width: 3.5em;
    -fx-max-width: 4em;
}
.navigation-item .font-icon {
    -fx-font-size: 180%;	
}
.navigation-icon {
    -fx-font-size: 180%;
    -fx-padding: 0 0.5em 0 0.2em;
    -fx-min-width: 1.6em;
    -fx-alignment: center;
    -fx-font-family: 'Segoe MDL2 Assets';
}
.navigation-item {
    -fx-border-width: 0px 0px 0px 0.3em;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-padding: 0.5em;
    -fx-max-width: 12em;
    -fx-alignment: center-left;
}
.navigation-item:hover {
    -fx-background-color: -fx-faint-focus-color;
}

.navigation-item:selected {
    -fx-border-width: 0px 0px 0px 0.2em;
    -fx-border-color: -fx-accent;
    -fx-background-color: -fx-faint-focus-color;
}
.navigation-item-header {
    -fx-font-weight: bold;
}

.navigation-view-heading-line {
	-fx-spacing: 1em;
	-fx-alignment: center-left;
	-fx-padding: 0 1em 0 0.4em;
}
.navigation-view-content {
	-fx-padding: 0;
}


/*****************************************************
 * Styles for dialogs
 *****************************************************/
.dialog-outside {
    -fx-background-color: black;
    -fx-opacity: 0.8;
    -fx-min-height: 2em;
}
.dialog-line {
    -fx-background-color: -fx-base;
}
.dialog-content {
    -fx-padding: 0.5em;
}
.dialog-buttonbar {
    -fx-padding: 0.5em 0 1em 0;
}

.dialog-buttonbar .button {
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-border-color: -fx-text-base-color;
    -fx-background-color: transparent;
}


.wizard-title {
}
.wizard-side {
}
.wizard-image {
    -fx-background-color: transparent;
    -fx-alignment: top-center;
}
.wizard-content {
}

/*****************************************************
 * Generic styles
 *****************************************************/
.mini-button {
    -fx-padding: 0.1em;
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Symbol";
}
.mini-button:disabled {
    -fx-background-color: transparent;
    -fdx-text-fill: transparent;
}

